<div class="air-container"></div>

<div class="row justify-content-md-center animated zoomIn" ng-controller="AppCtrl">
    <div class="col-12">

            <div class="row justify-content-md-center" style="padding-top: 1.5em;" >
                            <div class="col-7 mx-auto"
                                ng-click="$event.stopPropagation();"
                                style="
                                 background: url({{activity.imgs.main}});
                                background-color: #f5f6f7;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                border-radius: 4px;
                                padding:1em;
                                color: black;
                                min-height: 100vh;
                                "
                                class=""> 
                                
                                
                                <div class="row">
                                        <div class="col-12">
                                            <h4><b>
                                                AGREGA UN NUEVO LUGAR
                                                </b>
                                            </h4>
                                        
                                        </div>
                         
                                </div>


                                <div class="row">
                                        <div class="col-9">


                                                <div>
                                                Titulo
                                                <br>
                                                <input 
                                                    autocomplete="off" 
                                                    autocorrect="off" 
                                                    autocapitalize="off" 
                                                    spellcheck="false" 
                                                    class="input-search ng-pristine ng-untouched ng-valid ng-empty" ng-click="" 
                                                    ng-focus="" ng-blur="" ng-change="" 
                                                    ng-model="addLocationTemplate.title" 
                                                    style="font-size: 14px; width: 90%; margin-top: 0.23em; color: #000 ;background-color: hsla(0,0%,100%);" 
                                                    type="text" 
                                                    placeholder="" aria-label="">
                                                </div>


                                                <div>
                                                        Dirección
                                                        <input 
                                                        autocomplete="off" 
                                                        autocorrect="off" 
                                                        autocapitalize="off" 
                                                        spellcheck="false" 
                                                        class="input-search ng-pristine ng-untouched ng-valid ng-empty" ng-click="" 
                                                        ng-focus="" ng-blur="" ng-change="" 
                                                        ng-model="addLocationTemplate.address" 
                                                        style="font-size: 14px; width: 90%; margin-top: 0.23em; color: #000 ;background-color: hsla(0,0%,100%);" 
                                                        type="text" 
                                                        placeholder="" aria-label="">
                                                    </div>


                                                 <div>
                                                    Descripción
                                                    <br>
                                                    <input 
                
                                                    autocomplete="off" 
                                                    autocorrect="off" 
                                                    autocapitalize="off" 
                                                    spellcheck="false" 
                                                    class="input-search ng-pristine ng-untouched ng-valid ng-empty" ng-click="" 
                                                    ng-focus="" ng-blur="" ng-change="" 
                                                    ng-model="addLocationTemplate.description" 
                                                    style="font-size: 14px; width: 90%; margin-top: 0.23em; color: #000 ;background-color: hsla(0,0%,100%);" 
                                                    type="text" 
                                                    placeholder="" aria-label="">
                                                </div>


<!-- 
                                                    <br>
                                                    IMG url 
                
                                                    <br>
                                                    Coors
                                                     -->
                                                     <br>
                                                    <!-- <div class="row" style="margin-top: 0.3em"> -->
                                                        <button 
                                                        class="btn btn-md btn-success submit-buttom bold" 
                                                        style="padding-top: 0.3em; padding-bottom: 0.3em; float: left; text-align: left;"
                                                        type="submit"
                                                        ng-click="$event.stopPropagation();addNewLocation()"
                                                        >
                                                            Agregar Sitio
                                                        </button>
                                                <!--  -->






                                         </div>

                                         <div class="col-3">
                                                                             
                                            <!-- <div style="font-weight: bold; margin-bottom: 0.6em;">ACCIONES</div>
            
                                            <ul>
                                                <li style="margin-bottom: 0.6em;">
                                                    <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 1</button>
                                                </li>
                                                <li style="margin-bottom: 0.6em;">
                                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 2</button>
                                                </li>
                                                <li style="margin-bottom: 0.6em;">
                                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 3</button>
                                                </li>
                                            </ul> -->
            
                                        </div>
   
                                </div>


                    

                            </div>                       
            </div>
    </div>
</div>

<div class="air-container"></div>



