<div class="reset-wrapper container " style="padding-top:2em;">


  <form class="form-auth">

    <div ng-if="renderResetPassword.form">
        <div class="margin-bottom-1em">
            <h2 class="form-auth-heading heading-title">Elige tu nueva contraseña</h2>
            <!-- <label>Anda</label>     -->
        </div>

        <div class="margin-bottom-1em">
            <label for="user">Contraseña</label>
            <label for="inputPassword" class="sr-only">Password</label>
            <input           
                ng-model="formModel.passwordOne"
                type="password" class="form-control" placeholder="p. ej., ••••••••••••" >
        </div>

        <div class="margin-bottom-1em">
            <label for="user">Repetir contraseña</label>
            <label for="inputPassword" class="sr-only">Password</label>
            <input           
                ng-model="formModel.passwordTwo"
                type="password" class="form-control" placeholder="p. ej., ••••••••••••" >
        </div>

        <a style="text-decoration:none; color:white;" ng-click="updatePassword(formModel)">
            <button class="btn btn-lg btn-success btn-block submit-buttom bold" type="submit" ">Actualizar mi contraseña</button>
        </a>
    </div>  

    <br>

    <div ng-if="renderResetPassword.message">
        <div class="margin-bottom-1em">
            <h2 class="form-auth-heading heading-title">{{message.title}}</h2>
            <label>{{message.body}}</label>    
        </div>
    </div>



    <label ng-if="renderResetPassword.linkReset"><a href="/forgot" class="underlined" >Reestablecer contraseña</a></label>
    <label ng-if="renderResetPassword.linkBrowse"><a href="/signin" class="underlined" >Empezar a usar Webness</a></label>


<!--      -->

  </form>


</div> 