


<div class="air-container"></div>

<div class="row justify-content-md-center animated zoomIn" ng-controller="DashboardCtrl">
    <div class="col-12">

            <div class="row justify-content-md-center" style="padding-top: 1.5em;" >
                            <div class="col-7"
                                ng-click="$event.stopPropagation();"
                                style="
                                 background: url({{activity.imgs.main}});
                                background-color: #f5f6f7;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                border-radius: 4px;
                                padding:1em;
                                color: black;
                                min-height: 100vh;
                                "
                                class="">                


                                <div class="row">
                                        <div class="col-12">
                                            <h4><b>
                                                {{selectedActivity.title}}
                                                </b>
                                            </h4>
                                        
                                        </div>
                                </div>

                                <div class="row">
                                    <div class="col-9">
                                        
                                            <!-- <div ng-if="!selectedUser.account_is_confirmed" style="padding: 0.5em; background: #fff; margin-top: 1em; margin-bottom: 1em; border: 1px solid #e7e7e7; border-radius: 3px;">
                                                    <h6>Pendiente de confirmación</h6>
                                                    <p>Este usuario aún no ha confirmado su cuenta</p>
                                            </div> -->
                                         <br>

                                        
                                        <div>
                                                {{selectedActivity.description}}
                                        </div>

                                        <div>
                                            <h5>
                                                {{selectedActivity.members.length}} miembros
                                            </h5>
                                            <div ng-repeat="userId in selectedActivity.members">
                                                <a href="/user/{{getUserById(userId).username}} ">
                                                    <div style="font-weight: bold; ">
                                                            <i style="color: #7a869a;" class="fas fa-user"></i>
                                                            {{getUserById(userId).name}} {{getUserById(userId).surname}}
                                                    </div>
                                                </a>
                                            </div>
                                            
                                            <br>

                                            <h5>
                                                    Encuentros
                                                 </h5>
    
                                                <div ng-repeat="meetingId in selectedActivity.meetings">
                                                        <a href="">
                                                            <div style="background: white; padding: 0.5em; border-radius: 3px; border: 1px solid #e7e7e7;margin-bottom: 0.6em;">
                                                                    <h6>
                                                                            <i style="color: #7a869a;" class="fas fa-calendar-alt"></i>

                                                                            {{getMeetingById(meetingId).title}}
                                                                    </h6>
                                                                    Participantes: {{getMeetingById(meetingId).attendants.length}}
                                                                    <br>
                                                                    Fecha: {{getMeetingById(meetingId).date}}
                                                                    <br>
                                                                    Hora: {{getMeetingById(meetingId).time_scheduled}} 
                                                                    
                                                                    <!-- 
                                                                    attendants: ["5c4f3623b267794d5fec1166", "5c4d373ab18b6c0f532c7641"]
                                                                    date: "14-04-2019"
                                                                    description: ""
                                                                    id: "5c6b0540b5dcbd7a83177e29"
                                                                    is_active: false
                                                                    location_id: "5c67613dfb6fc01c4ce5a2af"
                                                                    meeting_number: 1
                                                                    organizers: "14-04-2019"
                                                                    time_scheduled: ""
                                                                    title: "Exposición y cóctel - Trabajos 2018" -->
                                                            </div>
                                                        </a>
                                                </div>


                                            <br>

                                            <h5>
                                                    Lugares
                                            </h5>
                                            <div ng-repeat="locationId in selectedActivity.locations">
                                                    <a href="">
                                                        <div style="font-weight: bold; ">
                                                                <i style="color: #7a869a;"  class="fas fa-location-arrow"></i>
                                                                {{getLocationById(locationId).title}}
                                                        </div>
                                                    </a>
                                            </div>

                                            <br>

                                        
                                        </div>



                 
                                    
                                    </div>

                                        <div class="col-3">
                                
                                            <div style="font-weight: bold; margin-bottom: 0.6em;">ACCIONES</div>
            
                                            <ul>
                                                <li style="margin-bottom: 0.6em;">
                                                    <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 1</button>
                                                </li>
                                                <li style="margin-bottom: 0.6em;">
                                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 2</button>
                                                </li>
                                                <li style="margin-bottom: 0.6em;">
                                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 3</button>
                                                </li>
                                            </ul>
            
                                        </div>
                                </div>

 
                            </div>                       
            </div>
    </div>
</div>

<div class="air-container"></div>



