<div class="container landing-wrapper">

    <div class="air-container"></div>
    <div class="air-container"></div>

  <div class="wrapper-landing">

    <div class="margin-bottom-1em">
        <h2 class="wrapper-landing-heading heading-title">
        Webness es la manera sencilla, flexible y visual de organizar
        tus actividades grupales.</h2>

        <br>

        <label>Deje a un lado las largas cadenas de correos electrónicos, las hojas de cálculo sin actualizar,
        las notas rápidas ya no tan adhesivas y el software inadecuado para gestionar sus proyectos. 
        Webness le deja ver todo sobre su proyecto de un solo vistazo.</label>    
    </div>

    <a style="text-decoration:none; color:white;" href="/signup">
        <button class="btn btn-lg btn-success  submit-buttom bold" type="submit" ">Regístrese</button>
    </a>
    
        <br>
        <br>

    <label>o <a class="underlined" href="/signin">inicie sesión con su cuenta</a></label>    



  </div>


</div> 