.wrapper-landing {
  max-width: 660px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}


.landing-wrapper{
/*  
  padding-top: 40px;
  padding-bottom: 40px;*/
  font-size: 20px;
  /*line-height: 48px;*/
  background-color: #f8f9fa;
  font-weight: 300;
  color: #4d4d4d;
  font-family: 'MyWebFont1';
  width: 100%;
  height:100vh;
  /*border-radius: 6px;*/
}


.wrapper-landing .wrapper-landing-heading,
.wrapper-landing .checkbox {
  margin-bottom: 10px;
}
.wrapper-landing .checkbox {
  font-weight: normal;
}
.wrapper-landing .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.wrapper-landing .form-control:focus {
  z-index: 2;
}
.wrapper-landing input[type="text"] {
  margin-bottom: -1px;
  border-radius: 5px;
  padding: 0.6em;
  background: #edeff0;
  font-size: 20px;
}
.wrapper-landing input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0.6em;
  background: #edeff0;
  font-size: 20px;
}
