.videoWrapper{
  margin-top: 2.2em;
  margin-bottom: 2.2em;

}

.shockType{
  font-family: 'ITCFranklinGothicStd-Hvy';
}
.passiveType{
  font-family: 'freightMicroPro-Hvy';
}

.fs-16{
  font-size: 16px;

}
.fs-50{
  font-size: 50px;
  /*font-size: 4vw;*/
}
.fs-25{
  font-size:25px;
}
@media only screen and (max-width: 500px) {
  .fs-50{
    /*background-color: lightblue;*/
    font-size: 50px;
    font-size: 9vw;
  }
  .fs-25{
    font-size:25px;
    font-size: 5vw;
  }
}



.loadMoreBtn{
  width:100%;
  background-color: #2A2C2D;
  color: #fff;

  padding:0.65em;
  cursor: pointer;

  font-size: 50px;
  transition: background-color .65s;
}
.loadMoreBtn:hover{
  background-color: #191919;
  transition: background-color .65s;
}
.blogAirContainer{
  width: 100%;
  background: transparent;
  height: 3.5em;
}
.top-divider{
  border-top: 1px solid #E5E5E5;
  /*border-top: 1px solid red;*/
}
.blogPostDivider{
  border-top: 1px solid #E5E5E5;
  /*margin-top: 1em;
  margin-bottom: 1em;*/

  margin-bottom: 1em;
}


/*template 1 -------- */
.blogPost1 .padding{
  /*padding-top: 47px;
  padding-bottom: 49px;*/
  padding-top: 4em;
  padding-bottom: 3em;
}
.blogPost1 .heading{
  text-transform: uppercase;
  letter-spacing: .5px;
  vertical-align: baseline;
}
.blogPost1 .title{
  margin: 18px 0 21px;
  padding-bottom: .05em;
  transition: color .15s;

}
.blogPost1 .link:hover .title {
  text-decoration: none;
  color: #9D6043;
  transition: color .15s;
}
.blogPost1 .pic{
  padding-bottom: 0.05em!important;
  transition: filter .2s;
}
.blogPost1:hover {
  /*opacity:0.89;*/
  /*transition: opacity .15s;*/
  filter: brightness(80%);
  transition: filter .2s;
}
.blogPost1 .body{
  max-width: 760px;
  /*max-width: 260px;*/
  margin: 0 0 20px;
  margin-top: 16px;
  color: #A1A1A1;
  -webkit-font-smoothing: antialiased;
  line-height:30px;
  outline-color:rgb(161, 161, 161);
  transition: color .15s;
}
.blogPost1 .link:hover .body{
  color: rgb(41, 43, 44);
  transition: color .15s;
}
/*template 1 ------ */


/*template 2 ------ */
.blogPost2 .padding{
  padding-top: 47px;
  padding-bottom: 49px;
}
.blogPost2 .imageWrapper{
  min-height: 860px;
  width: 100%;
}
.blogPost2 .link{
  position: absolute;
  right: 5%;
  left: 5%;
  bottom: 5%;
  top: 20%;
  z-index: 1000;
}
.blogPost2 .infoWrapper{
  position: absolute;
  bottom: 2.3em;
  color: #fff;
  z-index: 500;
}

.blogPost2 .imgBackG{
  min-height: 860px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transition: filter .2s;

  /*background-size: 100%;*/
  /*transition: background-size 1s;*/
}
.blogPost2 .link:hover ~ .imgBackG{
  filter: brightness(85%);
  transition: filter .2s;
  /*background-size: 102%;*/
  /*transition: background-size 1s;*/
}

.blogPost2 .heading{
  text-transform: uppercase;
  letter-spacing: .5px;
  vertical-align: baseline;
}
.blogPost2 .title{
  margin: 18px 0 21px;
  padding-bottom: .05em;
  transition: color .15s;
}
/*.blogPost2 .body{
  max-width: 760px;
  margin: 0 0 20px;
  margin-top: 16px;
  color: #A1A1A1;
  -webkit-font-smoothing: antialiased;
  line-height:30px;
  outline-color:rgb(161, 161, 161);
  transition: color .15s;
}
.blogPost2 .link:hover .body{
  color: rgb(41, 43, 44);
  transition: color .15s;
}*/

/*template 2 ------ */







.divider{
  width: 100%;
  margin: 0 auto;
  border-top:  1px solid #d6dadc;;

}
.margin-left-330{
  margin-left: 330px;
}

/*hr{
  background: #d6dadc none repeat scroll 0 0;
  border: 0 none;
  color: #d6dadc;
  height: 1px;
  margin: 9pt 0;
  padding: 0;
  width: 100%;
}*/

/*.top-divider{
  border-top: 1px solid #E5E5E5;
}
.post-padding{
  padding-top: 47px;
  padding-bottom: 49px;
}
.post-short-text{
  font-family: 'ITCFranklinGothicStd-Hvy';
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;letter-spacing: .5px;
  vertical-align: baseline;
}
.post-link:hover .post-title {
  color: #9D6043;
  transition: color .15s;
  text-decoration: none;
}
.post-link:hover .post-pic {
  opacity:0.89;
  transition: opacity .15s;
}
.post-link:hover .post-body{
  color:rgb(41, 43, 44);
  transition: color .15s;
}
.post-title{
  font-family: 'ITCFranklinGothicStd-Hvy';
  font-size:50px;
  margin: 18px 0 21px;
  padding-bottom: .05em;
}
a:hover, a:active, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}
a, .post-short-text, .post-title{
  color:rgb(41, 43, 44);
}
.post-body{
  font-family: 'freightMicroPro-Hvy';
  font-size:25px;
  max-width: 760px;
  margin: 0 0 20px;
  margin-top: 16px;
  color: #A1A1A1;
  -webkit-font-smoothing: antialiased;
  line-height:30px;
  outline-color:rgb(161, 161, 161);
}
.post-link{

}
.post-pic{
  padding-bottom: 0.05em!important;
}*/
