<!-- ROLE HOME PAGE -->

 <div ng-if="activeSession">
    <div ng-include="'public/modules/home/dashboard/dashboard.html'"></div>
 </div>


<!-- WEBNESS LANDING PAGE -->

 <div ng-if="!activeSession">
    <div ng-include="'public/modules/home/landing/landing.html'"></div>
 </div>





