html, body {
    height: 100%;
}
body{
  position: relative;
  /*background: linear-gradient(to bottom, rgba(0,0,0,.03), rgba(0,0,0,0)) 0 0 / 100% 300px no-repeat;*/
  /*background-color: rgb(0, 121, 191);*/
  background-color: white;
  overflow-x: hidden;
}
a:hover, a:active, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}
a, .post-short-text, .post-title{
  color:rgb(41, 43, 44);
}
@font-face {
  font-family: 'ITCFranklinGothicStd-DmCd';
  src: url('/public/fonts/itc-franklin-gothic-std/ITCFranklinGothicStd-DmCd.otf');
}
@font-face {
  font-family: 'ITCFranklinGothicStd-Hvy';
  src: url('/public/fonts/itc-franklin-gothic-std/ITCFranklinGothicStd-Hvy.otf');
}
@font-face {
  font-family: 'freightMicroPro-Hvy';
  src: url('/public/fonts/freightMicroPro/FreightMicroPro.otf');
}
@font-face {
  font-family: 'ITCFranklinGothicStd-Med';
  src: url('/public/fonts/itc-franklin-gothic-std/ITCFranklinGothicStd-Med.otf');
}
@font-face {
  font-family: 'ITCFranklinGothicStd-DmCd';
  src: url('/public/fonts/itc-franklin-gothic-std/ITCFranklinGothicStd-DmCd.otf');
}

@font-face {
  font-family: 'FoundersGroteskX';
  src: url('/public/fonts/founders/FoundersGroteskX-CondensedWeb-Medium.woff');
}
@font-face {
  font-family: 'SonderBold';
  src: url('/public/fonts/sonder/SonderBold.woff2');
}
@font-face {
  font-family: 'SonderRegular';
  src: url('/public/fonts/sonder/SonderRegular.woff2');
}

@font-face {
  font-family: 'text1Bold';
  src: url('/public/fonts/unnamed/text1Bold.otf');
}
@font-face {
  font-family: 'text1';
  src: url('/public/fonts/unnamed/text1.otf');
}
@font-face {
  font-family: 'MyWebFont1';
  src: url('/public/fonts/trello/1.woff') format('woff');
}
@font-face {
  font-family: 'MyWebFont2';
  src: url('/public/fonts/trello/2.woff') format('woff');
}
@font-face {
  font-family: 'MyWebFont3';
  src: url('/public/fonts/trello/3.woff') format('woff');
}
@font-face {
  font-family: 'MyWebFont4';
  src: url('/public/fonts/trello/4.woff') format('woff');
}

.inline-block{
  display: inline-block;
}

.float-left{
  float: left;
}
.float-rigth{
  float: right;
}

.padding-1{
  padding: 1em;
}
.padding-bottom-1{
  padding-bottom: 1em;
}
.padding-top-1{
  padding-top: 1em;
}
.no-padding-l{
  padding-left: 0;
}
.no-padding-r{
  padding-right: 0;
}


.submit-buttom{
  box-shadow: 0 2px 0 #3f6f21;
  font-family: 'MyWebFont2';
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
} 

.wrapper-1{
  color: #6b808c;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: 16px;
  margin-top: 16px;
  text-transform: uppercase;
  flex: 1 1 auto;
  margin: 0;
  padding: 8px 0;
}
.element-1{
  margin-bottom: 4px;
}
.element-1-link{
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: none;
  display: flex;
  font-weight: 700;
  margin: 0;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 8px 6px 0;
  padding-left: 0.235em;

  text-decoration: none;
  transition-property: background-color,border-color,box-shadow;
  transition-duration: 85ms;
  transition-timing-function: 
}
.element-1:hover{
  background-color: #e4f0f6;
  color: #026aa7;
}

.linkable-element{
  color: rgba(9,45,66,.66);
  font-weight: 400;

  box-shadow: none;

  cursor: pointer;
  font-weight: 400;
  text-align: left;

  background-color: transparent;
  border-radius: 4px;

  display: flex;
  font-weight: 700;
  margin: 0;
  /* min-height: 20px; */
  overflow: hidden;
  padding: 6px 8px 6px 0;
  text-decoration: none;
  transition-property: background-color,border-color,box-shadow;
  transition-duration: 85ms;
  transition-timing-function: ease;


  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;



  color: #17394d;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 3px;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  padding: 8px 12px;
  transition-property: background-color,border-color;
  transition-duration: 85ms;
  transition-timing-function: ease;

  color: #17394d;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}