body{
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.elementToAppear{
  opacity: 0 ;
  transition: opacity 0.2s linear ;
};
.fullOpacity {
  opacity: 1 !important;
};

.underlined{
  text-decoration: underline;
}
.bold{
  font-weight: bold;
}
.margin-bottom-5{
  margin-bottom: 5px;
}
.margin-bottom-1em{
  margin-bottom: 1em;
}
.soft-gray-color{
  color: #999;
}

.padding-tb-05{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.padding-b-05{
  padding-bottom: 0.5em;
}
.center-alg{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.capitalize {
   text-transform: capitalize;
}
.margin-top-1{
  margin-top: 1em;
}
.margin-bottom-1{
  margin-bottom: 1em;
}
.hide{
  display: none;
}
.show{
  display: block;
}

.fill{
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    /* position: sticky; */
    /*opacity: 0;
    transition: 0.8s opacity;*/
}

.header-air-container{
  width: 100%;
  height: 40px;
}
.subheader-air-container{
  width: 100%;
  height: 40px;
}
.subordinate-to-header-and-subheader{
  /* z-index: -1; */
  z-index: -1;
  position: relative;
}

/*.fill {
    opacity: 1;
    transition: 1s opacity;
}*/
.fadeOut {
    opacity: 1;
    transition: 0.8s opacity;
    /*transition: none;*/
}



.full-width{
  width: 100%;
}
.air-container{
  width: 100%;
  background: transparent;
  height: 56px;
}
.extraMargin{
  width: 100%;
  height: 2.1em;
}
.underlined{
  text-decoration: underline !important;
}
.uppercase{
  text-transform: uppercase;
}
.lowercase{
  text-transform: lowercase;
}


.global .message { text-transform: lowercase; }

.global .message:first-letter {
  text-transform: uppercase;
};
@media (max-width: 568px) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
};


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #464a4c;
  /* background-color: #fff;
  border-color: #ddd #ddd #fff; */
  background-color: #dfe3e6;
  border: 1px solid #dfe3e6;
  font-size: 80%;
}

.nav-tabs .nav-link {
  margin-left: 0.4em;
  border: 1px solid transparent;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background-color: rgb(221, 221, 221);
}


.member-list-item-detail .member {
  position: absolute;
  top: 16px;
  left: 0;
  margin: 0;
}

.member-no-menu {
  cursor: default;
}
.member {
  background-color: #dfe3e6;
  border-radius: 25em;
  color: #17394d;
  cursor: pointer;
  display: block;
  float: left;
  height: 32px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  width: 32px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

.member-initials {
  display: block;
  font-size: 12px;
  font-weight: 700;
  height: 32px;
  left: 0;
  line-height: 32px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}




.show.ng-hide,
.hide.ng-hide{
  animation-name:fadeOut;
  animation-duration: .5s;
}

.show{
  animation-name:fadeIn;
  animation-duration: .5s;
}


.show-sidebar-menu-button{
  float: right; 
  color: white; 
  font-size: 90%;

  transform: translateX(0);
  transition: margin ease 0.35s;

  margin-left: 2em;
}
.calendar-button{
  float: right; 
  color: white; 
  font-size: 90%;
  /* transform: translateX(0);
  transition: margin ease 0.35s; */
}
.margin-rigth-520{
  margin-right: 545px;
  transform: translateX(100%);
  transition: margin  0.25s ease-out;;
}
.subheader-buttons-wrapper{
  transform: translateX(0);
  transition: margin ease 0.35s;
}


/* 
trello 
.classic-body{
  height: 100%;
  position: relative;
  z-index: 1;
}
.over-body{
    height: 100%;
    position: relative;
    z-index: 0;
}
#surface {
  display: flex;
  flex-direction: column;
  height: 100%;
}    
#surface>#header, #surface>.header-banner {
flex: none;
}

.header-logo {
  bottom: 0;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -40px;
  opacity: .5;
  position: absolute;
  top: 5px;
  width: 80px;
  text-align: center;
  transition: .1s ease;
  z-index: 2;
}
.header-back-button{

}
.header-boards-button{

}
#surface>#content {
  flex-grow: 1;
}

#content {
  overflow-y: auto;
  outline: none;
}
.board-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.board-main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  transition: margin .1s ease-in;
}

.body-board-view {
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
} */

.no-margin-sides{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.borderless td, .borderless th, .borderless tr {
  border: none;
}
.no-margin-bottom{
  margin-bottom: 0;
}

.border-radius3{
  border-radius: 3px;
}












/* Styles go here */
.notification-overlay {
  position: fixed; top: 0; bottom: 0; right: 0; left: 0;
  background: rgb(0,0,0,0.75); z-index:100;
}

.notification-container {
  position: relative; top: 70px; left: 100px; width: 150px; text-align: center; border: solid 1px #333;
  z-index:101;
}

.notification-container ul {
  list-style: none; width: 100%; margin: 0; padding: 10px 0px;
}

.notification-container ul li {
  padding: 5px 0px; cursor: pointer; width: 100%;
}

.notification-container ul li:hover {
  background-color: #333; color: #fff;
}

.notification-container-title {
  font-weight: 800; font-size: 14px;
}

.max-content{
  width: max-content;
}