

<div class="account container" style="margin-top: 1em;">
  <div class="hidden-sm-down  row align-items-start">
    <div class="col-md-3 " style="border-right: ">
      <div class="row">
        <div class="col-12">
          <img style="width: 90%;    border: 1px solid #e7e7e7;" src="{{userData.profile_pic}}" class="rounded" alt="...">
        </div>

        <div class="col-11" style="padding: 3p; margin-top: 0.5em;">
          <h5 class="bold">{{userData.name}} {{userData.surname}}</h5><h6>@{{userData.username}}</h6>
          <p style="font-size: 80%;">Some personal short description would be placed here.</p>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row justify-content-start">
          <div class="col-12 ">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" ng-class="{'active': accountRender.currentTab == 'overview'}" ng-click="changeTab(0)" href="#">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  ng-class="{'active': accountRender.currentTab == 'preferencies'}" ng-click="changeTab(1)" href="#">Preferencies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  ng-class="{'active': accountRender.currentTab == 'stars'}" ng-click="changeTab(2)" href="#">Stars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  ng-class="{'active': accountRender.currentTab == 'following'}" ng-click="changeTab(3)" href="#">Following</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " ng-class="{'active': accountRender.currentTab == 'followers'}" ng-click="changeTab(4)" href="#">Followers</a>
                <!-- disabled -->
              </li>
            </ul>

            <br>

            <div ng-show="accountRender.currentTab == 'overview'">
              <h1>Overview</h1>
              <p class="">hidden-sm-down hidden-xs-up - overview -Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <h3>Subheader</h3>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        
            </div>

            <div ng-show="accountRender.currentTab == 'preferencies'">
              <h1>Preferencies</h1>
              <p class="">hidden-sm-down hidden-xs-up - preferencies -Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <h3>Subheader</h3>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>

            </div>

            <div ng-show="accountRender.currentTab == 'stars'">
              <h1>Stars</h1>
              <p class="">hidden-sm-down hidden-xs-up - stars - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <h3>Subheader</h3>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
   
            </div>

            <div ng-show="accountRender.currentTab == 'following'">
              <h1>Following</h1>
              <p class="">hidden-sm-down hidden-xs-up - following -Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <h3>Subheader</h3>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>

            </div>

            <div ng-show="accountRender.currentTab == 'followers'">
              <h1>Followers</h1>
              <p class="">hidden-sm-down hidden-xs-up - followers -Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <h3>Subheader</h3>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>

            </div>
            <!-- <div ng-include="'public/modules/feed/listGroup.html'"></div> -->
          </div>
      </div>
    </div>

  </div>












  <div class="hidden-md-up hidden-xs-down row justify-content-center">

      <div class="col-4">
        <img style="width: 80%;"  src="{{userData.profile_pic}}" class="rounded" alt="...">
      </div>

      <div class="col-8" style="padding: 3p; margin-top: 0.5em;">
        <h5 class="bold">{{userData.name}} {{userData.surname}}</h5><h6>@{{userData.username}}</h6>
      </div>
  </div>
  <div class="hidden-md-up hidden-xs-down row justify-content-center margin-top-1">
        <div class="col-12 margin-centering">
          <p class="">hidden-md-up hidden-xs-down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          <!-- <div ng-include="'public/modules/feed/listGoup.html'"></div> -->


        </div>
  </div>















  <div class="hidden-sm-up row justify-content-center align-items-center">



      <div class="col-12" style="padding: 3p; margin-top: 0.5em;">
        <h5>{{userData.name}} {{userData.surname}}</h5><h6>@{{userData.username}}</h6>

      </div> -->

<!-- border-bottom: 2px solid #e36209; -->

          <div class="col-4">
          <img style="width: 100%;"  src="{{userData.profile_pic}}"  class="rounded" alt="...">
        </div>

        <div class="col-8" style="padding: 3p; margin-top: 0.5em;">
          <h5 class="bold">{{userData.name}} {{userData.surname}}</h5><h6>@{{userData.username}}</h6>
      </div>

  </div>
  <div class="hidden-sm-up row justify-content-center margin-top-1">
        <div class="col-12 margin-centering">
          <p class="">hidden-sm-up  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          <!-- <div ng-include="'public/modules/feed/listGoup.html'"></div> -->

        </div>
  </div>



</div>



</div>
