<div ng-controller="MapCtrl">
        <div id="map" class="map"></div>
        <!-- <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
             <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
             <label id="names" >{{marker.title}}</label></a>
        </div> -->
</div>


