<div class="row">

        <div class="col-3">

            <div class="">
                    <div class="wrapper-1">ACTIONS</div>
                    <ul class="">
                       <!-- <li class="element-1">
                           <span style="border-radius:3px;"> 
                                <a class="element-1-link" href="">
                                    Add Activity
                                </a>
                            </span>
                        </li> -->
                        <li class="element-1">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        My events
                                     </a>
                                 </span>
                        </li>
                        <li class="element-1">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        Manage credits
                                     </a>
                                 </span>
                        </li>
                        <li class="element-1">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        My websites
                                     </a>
                                 </span>
                        </li>
                    
                    </ul>
                </div>


            <br>





            <div class="">
                <div class="wrapper-1">teams</div>
                <ul class="">
                   <li class="element-1">
                       <span style="border-radius:3px;"> 
                            <a class="element-1-link" href="">
                                Noe y Santi
                            </a>
                        </span>
                    </li>
                   <li class="">
                    <button class="linkable-element">
                        <span >Create a team</span>
                    </button>
                </li>
                </ul>
            </div>



            <br>

            <div class="">
                    <div class="wrapper-1">SETTINGS</div>
                    <ul class="">
                       <li class="element-1">
                           <span style="border-radius:3px;"> 
                                <a class="element-1-link" href="">
                                    Preferencies
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>

            

        </div>



        <div class="col-9">
            
            <div class="row titleHeading">
                Actividades 
            </div>

            <br>

            <div class="activitiesWrapper">

                <div ng-repeat="activity in activitiesArr">
                    <a href="/activities/{{activity.friendlyUrl}}">
                         <div 
                            style="
                            background: url({{activity.imgs.main}});
                            background-color: #e7e7e7;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            border-radius: 4px;
                            "
                            class="activityCard">                
                            <div class="activityTitle">{{activity.title}}</div>
                        </div>                       
                    </a>
                    
                </div>


            </div>

            <br>

            <div >
                    <a href="/">
                         <div 
                            style="
                            background: url({{activity.imgs.main}});
                            background-color: #e7e7e7;
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            border-radius: 4px;
                            "
                            class="activityCard">                
                            <div class="activityTitle">+ Add Activity</div>
                        </div>                       
                    </a>
                    
                </div>
            
        </div>        
    </div>
