<div ng-show="subheaderConfig.isVisible" class="subheader-wrapper" ng-controller="SubHeaderCtrl">
    <div class="subheader">

        <div class="float-left" >
            <a class="navbar-brand icon-holder bold " href="">
                {{selectedActivity.title}}
             </a>
    
            <!-- <a class="navbar-brand icon-holder bold float-left" style="
            padding: 0;
            margin: 0;
            padding-left: 0.25em;
            padding-right: 0.25em;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            margin-left: 0.5em;
            margin-top: 0.2em;
            padding-top: .25rem;
            padding-bottom: .25rem;
            margin: 4px;
        " href="">
                    <input class="" value="Taller de Pintura" style="-webkit-appearance: none;text-align: center;color: white;/* width: 61px; */background: transparent;border: none;/* width: 100%; */font-size: 15px;font-weight: 700;font-family: -apple-system, system-ui, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;padding: 0;margin: 0;width: 128px;/* font-size: 95%; */">
                
            </a> -->


        </div>
        <div 
            class="float-right"
            ng-class="(render.global.sidebar.isVisible)? 'margin-rigth-520': '' ">


            <div 
                class="navbar-brand icon-holder float-right"
                ng-click="openSidebar()">
                <i class="fas fa-ellipsis-h"></i>
                <span class="underline">Menu</span>
            </div>
            
            <div 
                class="navbar-brand icon-holder float-right"
                ng-click="handleCalendarCrudGui()"
                ng-style="(render.global.calendar.isActive) ? {'background-color':'hsla(0,0%,100%,.1)'}: {} "

                >
                <i class="far fa-calendar-alt"></i>
                <span class="underline">Calendario</span>
            </div>

        </div>

    </div>
</div>





         <!-- <input 
             autocomplete="off" 
             autocorrect="off" 
             autocapitalize="off" 
             spellcheck="false"
             class="navbar-brand icon-holder bold" 
             ng-click="" 
             ng-focus=""
             ng-blur=""
             ng-change=""
             ng-model="selectedActivity.title"
             style="font-size: 14px; width: 90%; margin-top: 0.23em; color: #000 ;background-color: hsla(0,0%,100%);"
             type="text" placeholder="Ejemplo: Taller de Canto" aria-label="" /> -->


             <!-- <div class="navbar-brand icon-holder float-right" href="#" style="
             padding: 0;
             margin: 0;
             padding-left: 0.5em;
             padding-right: 0.5em;
             padding-top: 0.2em;
             padding-bottom: 0.2em;
             margin-left: .5em;
             margin-top: 0.2em;
         ">
                             
                <input class="" aria-label="" spellcheck="false" dir="auto" maxlength="512" value="Taller de Pintura" style="color: white;width: 61px;background: transparent;border: none;width: 100%;font-size: 16px;font-weight: 700;font-family: -apple-system, system-ui, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;padding: 0;margin: 0;">
            </div> -->


            <!-- <a class="navbar-brand icon-holder bold" style="
            padding: 0;
            margin: 0;
            padding-left: 0.5em;
            padding-right: 0.5em;
            padding-top: 0.2em;
            padding-bottom: 0.2em;
            margin-left: .5em;
            margin-top: 0.2em;
        " href="">
                    <input class="" value="Taller de Pintura" style="-webkit-appearance: none;color: white;width: 61px;background: transparent;border: none;width: 100%;font-size: 16px;font-weight: 700;font-family: -apple-system, system-ui, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif;padding: 0;margin: 0;">
                
            </a> -->