<div    id="overall"
        ng-show="overallConfig.isVisible" 
        class="overall "
        ng-class="(overallConfig.bgTransparent)? 'bg-transparent': 'bg-dark'" 
        ng-click="onOverallClick({switch: 'off'})"
        >

    <div class="on-top-overall " >
        <div    ng-show="overallConfig.components.activityAddGui" 
                ng-include="'public/modules/activities/activities/add/add.html'"
        ></div>

        <div    ng-show="overallConfig.components.activityDetailCrudGui" 
                ng-include="'public/modules/activities/activities/detail/detail.html'"
        ></div>
        
        <div    ng-show="overallConfig.components.searchBarResultsGui"
                ng-include="'public/modules/components/searchbar/results.html'"></div>

        <div    ng-show="overallConfig.components.locationAddGui"
                ng-include="'public/modules/locations/add/add.html'"></div>

        <div    ng-show="overallConfig.components.userAddGui"
                ng-include="'public/modules/users/add/add.html'"></div>



        <div    ng-show="overallConfig.components.meetingAddGui"
                ng-include="'public/modules/meetings/add/add.html'"></div>

                

        <div    ng-show="overallConfig.components.userDetailCrudGui"
                ng-include="'public/modules/users/detail/detail.html'"></div>

        <div    ng-show="overallConfig.components.locationDetailCrudGui"
                ng-include="'public/modules/locations/detail/detail.html'"></div>


    </div>


</div>