.overall{
    /* background: rgb(0, 0, 0); */
    /* opacity: 0.65; */
    background: rgba(0, 0, 0, 0.65);

    z-index: 10000;

    width: 100%;
    height: 100%;

    position: absolute; 
    top: 0; 
    left: 0;


    height: 100vh;
    overflow: hidden;
    overflow-y: scroll; 
    /* text-align: center; */
}

.overall.on-top-overall {
    position: relative;
    /* top: 4.7em; */
    z-index: 99000;

}
.bg-transparent{
    background: transparent;    
}
.bg-dark{
    background: rgba(0, 0, 0, 0.65);
}

.addActivityCard {
    list-style-type: none;
    height: 100px;
    width: 270px;
    padding: 0;
    margin: 0 2% 8px 0;
    /* -webkit-transform: translate(0); */
    /* transform: translate(0); */
    margin-right: 0.5em;
  }
  .addActivityTitle{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 0.45em;
    padding-left: 0.7em;
    font-weight: bold;
    color: white;
  
    /*background: linear-gradient(to bottom, rgba(0,0,0,.03), rgba(0,0,0,0)) 0 0 / 100% 300px no-repeat;*/
    
    /* background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 0 / 100% 40px no-repeat; */

    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 1px -1px 9px rgba(164,164,164,0.56);
}

