.fullPost{

}

.fullPost .padding{
  padding-top: 4em;
  padding-bottom: 3em;
}
.fullPost .heading{
  text-transform: uppercase;
  letter-spacing: .5px;
  vertical-align: baseline;
}
.fullPost .title{
  margin: 18px 0 21px;
  padding-bottom: .05em;
  transition: color .15s;
}
.fullPost .pic{
  padding-bottom: 0.05em!important;
  transition: filter .2s;
}
.fullPost .postDate{
  text-align: center;
  font-family: 'text1';
  font-style: italic;
  margin-bottom: 2em;
  margin-top: 2em;
}
.fullPost .author{
  font-family: 'SonderBold';
  font-size: 11px;
  text-align: center;
}

.fullPost .authorSection{
  padding-left: 1em;
  padding-right: 1em;
}

.fullPost .authorImg{
  width: 100%;
  max-width: 130px;
  border-radius: 50%;
}

.fullPost .authorBoxWrapper{
  /*background: #fafafa; */
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 3px;
}
.fullPost .authorDescription{
  font-family: 'text1';
  font-size: 11px;
  text-align: center;
}


.fullPost .body{
  max-width: 760px;
  margin: 0 0 20px;
  margin-top: 16px;
  color: #A1A1A1;
  -webkit-font-smoothing: antialiased;
  line-height:30px;
  outline-color:rgb(161, 161, 161);
  transition: color .15s;
}

.fullPost .textBody{
  font-family: 'text1';
  font-size: 1.1em;
}
.storytDivider{
  border-top: 1px solid #E5E5E5;
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}


@media only screen and (max-width: 500px) {
  .fullPost .author{
    font-family: 'SonderBold';
    font-size: 11px;
    text-align: center;
    font-size: 4vw;
  }
  .fullPost .authorDescription{
    font-family: 'text1';
    font-size: 11px;
    text-align: center;
    font-size: 4vw;
  }
}



.tabbed-pane-nav {
    background-color: #f5f6f7;
    border-bottom: 1px solid #dfe3e6;
    position: relative;
    text-align: center;
}
.tabbed-pane-nav-item {
    display: inline-block;
    font-size: 87%;
}
.tabbed-pane-nav-item-button {
    font-size: 98%;

    background-color: #dfe3e6;
    border: 1px solid #dfe3e6;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    font-weight: 700;
    margin: 2px 2px 0;
    padding: 8px 20px;
    text-decoration: none;
}
.tabbed-pane-nav-item-button.active, .tabbed-pane-nav-item-button.active:active, .tabbed-pane-nav-item-button.active:hover {
    background-color: #fff;
    border-color: #dfe3e6;
    cursor: default;
    margin-bottom: -1px;
    padding-bottom: 9px;
}

.button-link {
    background-color: #dfe3e6;
    box-shadow: 0 1px 0 0 #c2ccd1;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}
.subheaderItm{
  display: block;
  margin: 0.5em 1em;
  margin-right: .5rem;
  margin-left: .5rem;
  border-radius: 4px;
  padding: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.subheaderItm:hover{
  background-color: rgba(0, 0, 0, 0.135);
  transition: background-color .55s;
}

.subheaderActivityTitle{
  display: block;
  border-radius: 4px;
/*  margin: 0.5em 1em;
  margin-right: .5rem;
  margin-left: .5rem;
  padding: 0.2em;*/
  padding-top: 0.07em;
  padding-bottom: 0.07em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.subheaderActivityTitle:hover{
  background-color: rgba(0, 0, 0, 0.135);
  transition: background-color .55s;
}

.pullOverWhenSidebar{
    margin-right: 315px;
/*      -webkit-transition: width 3s; 
  transition: width 3s;
  color: black;
  padding-left: 0.5em;
  font-size: 93%;*/
  transition: margin-right ease 0.25s;
  /*transition: margin-right ease-out 0.55s;*/
}

.btn{
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}

.calendar{

  width: 100%;
  height: 900px;
  position: fixed;
    top: 79px;
      /*padding: 10px;*/
  z-index: 999;
  display: none;
}
.calendarCard{
    background: white;
    width: 95%;
    border-radius: 4px;
      width: 100%;
  height: 900px;
  position: fixed;
    top: 79px;
      /*padding: 10px;*/
  z-index: 999;
}
.showCalendar{
  display: block;
}