
<ul class="nav nav-tabs justify-content-center" 
style="
    background:#f5f6f7; 
    width: 100%;
    padding:0;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 0.8em;
    font-weight: bold;
"
>
<!-- <li class="nav-item" style="text-align: center;">
<a class="nav-link max-content active" ng-class="{'active': tabsService.getCurrentTab('activities') == 'overview'}" ng-click="changeTab(0)" href="#">Vista Rápida</a>
</li> -->


<li class="nav-item" style="text-align: center;">
    <a class="nav-link max-content" ng-class="{'active': tabsService.getCurrentTab('activities') == 'overview'}" ng-click="changeTab(0)" href="#">Vista Rápida</a>
</li>
<li class="nav-item" style="text-align: center;">
<a class="nav-link max-content" ng-class="{'active': tabsService.getCurrentTab('activities') == 'locations'}" ng-click="changeTab(1)" href="#">Lugares</a>
</li>
<li class="nav-item" style="text-align: center;">
<a class="nav-link max-content" ng-class="{'active': tabsService.getCurrentTab('activities') == 'members'}" ng-click="changeTab(2)" href="#">Miembros</a>
</li>
<li class="nav-item" style="text-align: center;">
<a class="nav-link max-content" ng-class="{'active': tabsService.getCurrentTab('activities') == 'credits'}" ng-click="changeTab(3)" href="#">Créditos</a>
</li>
<li class="nav-item" style="text-align: center;">
<a class="nav-link max-content " ng-class="{'active': tabsService.getCurrentTab('activities') == 'payments'}" ng-click="changeTab(4)" href="#">Pagos</a>
</li>
<li class="nav-item" style="text-align: center;">
<a class="nav-link max-content " ng-class="{'active': tabsService.getCurrentTab('activities') == 'settings'}" ng-click="changeTab(5)" href="#">Configuración</a>
</li>
</ul>

<br>

<div class="container">

<div ng-show="tabsService.getCurrentTab('activities') == 'overview'">
    <div ng-include="'public/modules/activities/activities/tabs/overview/overview.html'"></div>
</div>

<div ng-show="tabsService.getCurrentTab('activities') == 'locations'" class="ng-hide">
    <div ng-include="'public/modules/activities/activities/tabs/locations/locations.html'"></div>
</div>

<div ng-show="tabsService.getCurrentTab('activities') == 'members'" class="ng-hide">
    <div ng-include="'public/modules/activities/activities/tabs/members/members.html'"></div>
</div>

<div ng-show="tabsService.getCurrentTab('activities') == 'credits'" class="ng-hide">
    <div ng-include="'public/modules/activities/activities/tabs/credits/credits.html'"></div>
</div>

<div ng-show="tabsService.getCurrentTab('activities') == 'payments'" class="ng-hide">
    <div ng-include="'public/modules/activities/activities/tabs/payments/payments.html'"></div>
</div>

<div ng-show="tabsService.getCurrentTab('activities') == 'settings'" class="ng-hide">
    <div ng-include="'public/modules/activities/activities/tabs/settings/settings.html'"></div>
</div>

</div>
</div>
<!-- </div> -->