<div class="row">

        <div class="col-2 ">

            <div class="" style="position: sticky; top: 10px;">
                    <div class="wrapper-1">ACTIONS</div>
                    <ul class="">
                        <li class="element-1">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        My events
                                     </a>
                                 </span>
                        </li>

                    </ul>
                </div>


            <br>




            <div class="">
                    <div class="wrapper-1">SETTINGS</div>
                    <ul class="">
                       <li class="element-1">
                           <span style="border-radius:3px;"> 
                                <a class="element-1-link" href="">
                                    Preferencies
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>

            

        </div>



        <div class="col-10 animated fadeIn">
            
            <div class="row titleHeading">
                Overview {{locations.number}}
            </div>

            <br>

            <div class="">

                    <div>
                        Next Meetings
                    </div>
                    <br>
                    
                    <div ng-repeat="item in meetingsArr track by $index"
                        style="    
                        padding: 0.6em;
                        max-width: 320px;;
                        border: 1px solid #e7e7e7;
                        border-radius: 4px;
                        margin-bottom: 0.55em;"
                        >
                        <h6>
                            {{item.title}}
                        </h6>
                        <div>
                            {{item.date}} at {{item.time_scheduled}}
                        </div>
                    </div>


            </div>


            
        </div>        
    </div>
