<div class="row ">

        <div class="col-3">

            <div class=""style="position: sticky;
            top: 10px;">
                    <div class="wrapper-1">ACTIONS</div>
                    <ul class="">
                        <li class="element-1 border-radius3">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        My events
                                     </a>
                                 </span>
                        </li>

                        <li class="element-1 border-radius3">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        My websites
                                     </a>
                                 </span>
                        </li>

                        <li class="element-1 border-radius3">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        Manage credits
                                     </a>
                                 </span>
                        </li>

                    </ul>


            <br>


            <div class="">
                <div class="wrapper-1 border-radius3">teams</div>
                <ul class="">
                   <!-- <li class="element-1">
                       <span style="border-radius:3px;"> 
                            <a class="element-1-link" href="">
                                Noe y Santi
                            </a>
                        </span>
                    </li> -->
                   <li class=" border-radius3">
                    <button class="linkable-element">
                        <span >Create a team</span>
                    </button>
                </li>
                </ul>
            </div>

            <br>

            <div class="">
                    <div class="wrapper-1">SETTINGS</div>
                    <ul class="">
                       <li class="element-1 border-radius3">
                           <span style="border-radius:3px;"> 
                                <a class="element-1-link" href="">
                                    Preferencies
                                </a>
                            </span>
                        </li>
                    </ul>
                
            </div>

        </div>
            

        </div>


        <div class="col-9 ">
            
            <div class="row titleHeading">
                Espacios de Actividad
            </div>

            <br>

            <div class="activitiesWrapper animated fadeIn">

                <div ng-repeat="activity in activitiesArr track by $index" >
                    <div ng-click="setSelectedActivity(activity.id); goTo({path: '/activities/' + activity.friendlyUrl })">
                         <div 
                            style="
                            background: url({{activity.imgs.main}});                            
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            border-radius: 4px;
                            "
                            ng-style="{'background-color': activity.background_color };"
                            class="activityCard">                
                            <div class="activityTitle">{{activity.title}} </div>

                            <div 
                                ng-click="$event.stopPropagation(); setSelectedActivity(activity.id); openActivityDetailCrud()"
                                class="edit-activity-button">
                            <i style="font-size: 85%;" class="fas fa-pen"></i>

                            </div>


                        </div>                       
                    </div>
                </div>
                <a ng-show="render.global.dashboard.isVisible && activitiesArr.length!=0" ng-click="openActivityAddGui()">
                        <div 
                           style="
                            background-color: #026aa7;
                           background-repeat: no-repeat;
                           background-position: center center;
                           background-size: cover;
                           border-radius: 4px;
                           "
                           class="activityCard">                
                           <div class="activityTitle">+ Crear Actividad</div>
                       </div>                       
                   </a>

                <!-- // -->
                <div class="row" ng-if="render.global.dashboard.isVisible && activitiesArr.length==0"">
                    <div class="col-11">
                    <nav aria-label="breadcrumb">
                        <div class="breadcrumb">
                            <h4>Aún no has creado ningún Espacio de Actividad</h4>
                            <p>Los Espacio de Actividad te permiten gestionar usuarios, agenda y recibir pagos. </p>                            
                            <p>¡Comienza por crear uno!</p>                            
                        </div>
                    </nav>
                    <div ng-click="openActivityAddGui()"
                    style="
                    background-color: #026aa7;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    border-radius: 4px;
                    "
                    class="activityCard">                
                    <div class="activityTitle">+ Crear Actividad</div>
                </div>    
                    </div>
                </div>
                <!-- // -->


            </div>

        </div>        
    </div>
