<div class="container dashboard" ng-controller="DashboardCtrl" style="margin-top: 1em;">

    <div ng-if="getUserType()=='owner'" ng-include="'public/modules/home/dashboard/owner/owner.html'"></div>

    <div ng-if="getUserType()=='teacher'" ng-include="'public/modules/home/dashboard/teacher/teacher.html'"></div>

    <div ng-if="getUserType()=='customer'" ng-include="'public/modules/home/dashboard/customer/customer.html'"></div>

    <div ng-if="getUserType()=='admin'" ng-include="'public/modules/home/dashboard/admin/admin.html'"></div>

</div>
