.activityCard {
  list-style-type: none;
  height: 100px;
  width: 270px;
  padding: 0;
  margin: 0 2% 8px 0;
  -webkit-transform: translate(0);
  transform: translate(0);
  margin-right: 0.7em;
  margin-bottom: 0.7em;
}
.edit-activity-button{
  color: rgb(0, 0, 0, 0.6);
  background: rgb(255,255,255,0.2);
  /* background: white; */
  width: 22px;
  height: 22px;
  position: absolute;
  text-align: center;
  border-radius: 3px;
  bottom: 5px;
  right: 5px;
  z-index: 99999999;   
  font-size: 80%;             
}
.edit-activity-button:hover{
  transition: background-color 0.2s ease;
  color: rgb(0, 0, 0, 0.9);
  background: rgb(255,255,255,1);
}
.activitiesWrapper{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.activityTitle{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 0.4em;
  padding-left: 0.7em;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 0 / 100% 40px no-repeat;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 1px -1px 9px rgba(164,164,164,0.56);
}
.activityCard:hover{
  filter: brightness(80%);
  transition: filter .2s;  
}

.titleHeading{
  color: #6b808c;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .04em;
  line-height: 16px;
  margin-top: 16px;
  text-transform: uppercase;
  flex: 1 1 auto;
  margin: 0;
  padding: 8px 0;"
}

.add-activity ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-size: 14px !important;
  font-family: 'MyWebFont1' !important;
}