
.form-auth {
  max-width: 460px;
  padding: 15px;
  margin: 0 auto;
}
.form-auth .form-auth-heading,
.form-auth .checkbox {
  margin-bottom: 10px;
}
.form-auth .checkbox {
  font-weight: normal;
}
.form-auth .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-auth .form-control:focus {
  z-index: 2;
}
.form-auth input[type="text"] {
  margin-bottom: -1px;
  border-radius: 5px;
  padding: 0.6em;
  background: #edeff0;
  font-size: 20px;
}
.form-auth input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 0.6em;
  background: #edeff0;
  font-size: 20px;
}

/*custom*/
input,
input::-webkit-input-placeholder {
  font-family: 'MyWebFont1';
  font-size: 20px;
}
.heading-title{
  font-weight: 800;
  font-family: 'MyWebFont2'
}

