<div class="air-container"></div>

<div class="row justify-content-md-center animated zoomIn" ng-controller="AppCtrl">
    <div class="col-12">
        <div class="row justify-content-md-center" style="padding-top: 1.5em;" >
            <div class="col-7 mx-auto"
                ng-click="$event.stopPropagation();"
                style="
                    background: url({{activity.imgs.main}});
                background-color: #f5f6f7;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                border-radius: 4px;
                padding:1em;
                color: black;
                min-height: 100vh;
                "
                class="">                

                <div class="row">
                        <div class="col-12">
                                <h4>{{selectedLocation.title}}</h4>

                        </div>
                </div>

                <div class="row">
                        <div class="col-9">
                            
                            <div>
                                    Dirección: {{selectedLocation.address}}
                            </div>
                            <div>
                                    Teléfono: 
                            </div>
                            <div>
                                    Horarios: 
                            </div>

                            <br>
                            
                            <div class="row">

                                    <div class="col-12" ng-include="'public/modules/components/map/map.html'"></div>

                            </div>            
        
                        </div>

                        <div class="col-3">
                    
                            <div style="font-weight: bold; margin-bottom: 0.6em;">ACCIONES</div>

                            <ul>
                                <li style="margin-bottom: 0.6em;">
                                    <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 1</button>
                                </li>
                                <li style="margin-bottom: 0.6em;">
                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 2</button>
                                </li>
                                <li style="margin-bottom: 0.6em;">
                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 3</button>
                                </li>
                            </ul>
        
                            <!-- <br> -->

                        </div>
                </div>
            </div>                       
        </div>
    </div>
</div>

<div class="air-container"></div>



