<div class="signup-wrapper container ">

  <form ng-if="signUpPageRender.form"  class="form-auth">

    <div class="margin-bottom-1em">
        <h2 class="form-auth-heading heading-title">Crear una cuenta de Webness</h2>
        <label>o <a class="underlined" href="/signin">iniciar sesión con su cuenta</a></label>    
    </div>

    <div class="margin-bottom-1em">
        <label for="inputEmail" class="sr-only">Nombre</label>
        <label for="user">Nombre</label>
        <input type="text" 
              class="form-control"
            ng-model="formModel.name"
              placeholder="p. ej.: Arya" required autofocus>            
    </div>

    <div class="margin-bottom-1em">
            <label for="inputEmail" class="sr-only">Apellido</label>
            <label for="user">Apellido</label>
            <input type="text" 
                  class="form-control"
            ng-model="formModel.surname"
                  placeholder="p. ej.: Stark" required autofocus>            
        </div>

    <div class="margin-bottom-1em">
        <label for="inputEmail" class="sr-only">Email address</label>
        <label for="user">Correo electrónico <span class="quiet soft-gray-color">(o nombre de usuario)</span></label>
        <input type="email" 
              class="form-control"
            ng-model="formModel.email"
              placeholder="p. ej.: pinchitos@barriosesamo.com" required autofocus>            
    </div>

    <div class="margin-bottom-1em">
        <label for="user">Contraseña</label>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" 
              class="form-control"
            ng-model="formModel.password"
              placeholder="p. ej., ••••••••••••" required>
    </div>


    <button ng-click="sendSignUpRequest(formModel)" 
            class="btn btn-lg btn-success btn-block submit-buttom bold" 
            type="submit">Crear una cuenta nueva
    </button>

    <br>

  </form>


  <div ng-if="signUpPageRender.message"  class="container">
        <div class="margin-top-1em">
            <h2 class="form-auth-heading heading-title">{{message.title}}</h2>
            <label>{{message.body}}</label>    
        </div>
    </div>


</div> 


