<div class="row">

    <div class="col-2 ">

        <div class="" style="position: sticky; top: 10px;">
                <div class="">
                        <div class="wrapper-1">ACTIONS</div>
                        <ul class="">
                            <li class="element-1">
                                    <span style="border-radius:3px;"> 
                                         <a class="element-1-link" href="">
                                            My events
                                         </a>
                                     </span>
                            </li>
    
                        </ul>
                    </div>
    
    
                <br>
    
    
    
    
                <div class="">
                        <div class="wrapper-1">SETTINGS</div>
                        <ul class="">
                           <li class="element-1">
                               <span style="border-radius:3px;"> 
                                    <a class="element-1-link" href="">
                                        Preferencies
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
    
        </div>

    </div>



    <div class="col-10  animated fadeIn" scroll>
        

        <div class="row titleHeading">
            Locations
        </div>


        <p>List of all locations enabled for this activity</p>

        <div class="row" >
            <div class="col-6">
                <form class="bd-search d-flex align-items-center">
                        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                            <input type="search" class="form-control ds-input" 
                                id="search-input" placeholder="Filter..." autocomplete="off" 
                                spellcheck="false" role="combobox" aria-autocomplete="list" 
                                aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0" dir="auto" 
                                style="position: relative; vertical-align: top;"
                                >
                                <!-- <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre> -->
                                <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;"><div class="ds-dataset-1"></div></span></span>
                        <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                            <title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
                        </button>
                </form>
            </div>
            <div class="col-6">
                <button class="btn btn-md btn-success submit-buttom bold 
                animated 
                zoomIn 
                " 
                style="padding-top: 0.3em; padding-bottom: 0.3em; float: right; text-align: right;"
                ng-click="openLocationAddGui()" 
                type="submit">
                    Agregar Lugar
                </button>
            </div>
        </div>

        <br>

        <div class="">

            <div ng-repeat="item in locationsArr track by $index" style="border-top: 1px solid #cecece;">
                <div class="row" style="padding-top: 0.5em; padding-bottom: 0.5em" 
                        ng-click="setSelectedLocation(item.id); openLocationDetailCrudGui()" 
                    >
                    <div class="col-1" >
                        <div class="member member-no-menu">
                                <span title="Benitezn (benitezn1)" class="member-initials">A</span>
                        </div>
                    </div>
                    <div class="col-5" >
                        <div class="row bold">{{item.title}}</div>
                        <div class="row">{{item.address}}</div>
                    </div>
                    <div class="col-2" style="text-align: right;" >
                       <!-- <span class="underlined">
                            On {{item.relatedActivitiesNumber}} activities
                       </span>  -->
                    </div>
                    <div class="col-2" style="text-align: right;" >
                            <!-- <button class="btn btn-sm btn-secondary bold" 
                            style="padding-top: 0.3em; padding-bottom: 0.3em; float: right; text-align: right;"
                            ng-click="" 
                            type="submit">
                                Default
                            </button> -->
                    </div>
                    <div class="col-2" style="text-align: right;" >
                            <!-- <button class="btn btn-sm btn-secondary  bold" 
                            style="padding-top: 0.3em; padding-bottom: 0.3em; float: right; text-align: right;"
                            ng-click="" 
                            type="submit">
                                Disable
                            </button> -->
                    </div>
                </div>
            </div>

        </div>


        <div class="air-container"></div>
        <div class="air-container"></div>



        
    </div>        
</div>

