.info-wrapper{
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 10000 !important;
  margin-top: 15px;
}
.info{
  z-index: 100000 !important; 
  position: fixed !important; 
  left: 0 !important; 
  right: 0 !important; 
  margin: 0.5em; 
  margin-top: 4em;
}

.info-box{
    width: auto; 
    max-width: 25%; 
    float: right; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    word-wrap: break-word;
}