
<div 
  ng-if="render.global.alert.show && render.global.alert.message!=''"
  class="info-wrapper">
    <div class="info">
      <div 
        ng-if="render.global.alert.type=='success'" 
        class="alert alert-success alert-dismissible capitalize info-box" role="alert">
        
<!--         <button ng-if="render.global.alert.isClosable" type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->

        {{render.global.alert.message}}
      </div>

      <div ng-if="render.global.alert.type=='warning'" class="alert alert-warning alert-dismissible capitalize info-box"
         role="alert">

<!--         <button ng-if="render.global.alert.isClosable" type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->

        {{render.global.alert.message}}
      </div>

      <div ng-if="render.global.alert.type=='info'" class="alert alert-info alert-dismissible capitalize info-box"
          role="alert">

<!--         <button ng-if="render.global.alert.isClosable" type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->

        {{render.global.alert.message}}
      </div>

      <div ng-if="render.global.alert.type=='danger'" class="alert alert-danger alert-dismissible capitalize info-box"
         role="alert">

<!--         <button ng-if="render.global.alert.isClosable" type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->

        {{render.global.alert.message}}
      </div>
    </div>
</div>
