<div class="signin-wrapper container ">


    <div class="air-container"></div>


  <form class="form-auth">

    <div class="margin-bottom-1em">
        <h2 class="form-auth-heading heading-title">Iniciar sesión en Webness</h2>
        <label>o <a href="/signup" class="underlined" >crear una cuenta</a></label>    
    </div>


    <div class="margin-bottom-1em">
        <label for="inputEmail" class="sr-only">Email address</label>
        <label for="user">Correo electrónico 
            <span class="quiet soft-gray-color">(o nombre de usuario)</span>
        </label>
        <input type="text" 
        ng-model="formModel.firstInput"
        class="form-control" placeholder="p. ej.: pinchitos@barriosesamo.com"  >            
    </div>

    <div class="margin-bottom-1em">
        <label for="user">Contraseña</label>
        <label for="inputPassword" class="sr-only">Password</label>
        <input           
            ng-model="formModel.password"
            type="password" class="form-control" placeholder="p. ej., ••••••••••••" >
    </div>

    
      <a style="text-decoration:none; color:white;" ng-click="sendAuthenticationRequest(formModel)">
        <button class="btn btn-lg btn-success btn-block submit-buttom bold" type="submit" ">Iniciar Sesión</button>
      </a>
    

    <br>

    <label><a href="/forgot" class="underlined" >¿Olvidó su contraseña?</a></label>

  </form>


</div> 