.footer {
  width: 100%;
  background-color: #1F2125;
  padding-top: 3.3em;
  padding-bottom: 3.3em;
  /*min-height: 300px;*/
}

.footer .item{
  height: 50px;
  width: 50px;
  background: #444;
  padding: 5px;
  border-radius: 5px;
}

.footer .brandLogo{
  width: 170px;
}


.footer .brothers{
  /*float: right;*/
    width: 170px;
}

/*.divider{
  border-top: 1px solid #2F3135;
  padding-top: 1.5em;
}*/

.board{
  width: 100%;
  height: 1px;
  border-top: 1px solid #2F3135;
  padding-top: 1.5em;
}

.copyleft{
  text-align: right;
  color: #4D4F52;
  float: right;
  /*position: absolute;
  bottom: 0;*/
}
