<div class="row">

        <div class="col-2 ">

            <div class="" style="position: sticky; top: 10px;">
                    <div class="wrapper-1">ACTIONS</div>
                    <ul class="">
                        <li class="element-1">
                                <span style="border-radius:3px;"> 
                                     <a class="element-1-link" href="">
                                        My events
                                     </a>
                                 </span>
                        </li>

                    </ul>
                </div>


            <br>




            <div class="">
                    <div class="wrapper-1">SETTINGS</div>
                    <ul class="">
                       <li class="element-1">
                           <span style="border-radius:3px;"> 
                                <a class="element-1-link" href="">
                                    Preferencies
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>

            

        </div>



        <div class="col-10">
            
            <div class="row titleHeading">
                    Settings {{locations.number}}
            </div>

            <br>

            <div class="activitiesWrapper">

                Settings ...


            </div>


            
        </div>        
    </div>
