html
  head
    title= ''
  body
    p Hello #{name}!
    p Someone has sent you an invitation to join an activity!
    p A user account has been created for you. All news regarding activities will be handled through your account.
    p Confirm your account and pick a password for it:
    a(href=link) Click here to proceed
    p Thank's,
    p The Webness Team.