html
  head
    title= ''
  body
    p Hello #{name}!
    p Someone has sent you an invitation to join an activity!
    p All news regarding activities will be handled through your account.
    a(href=link) Click here to see more about this activity
    p Thank's,
    p The Webness Team.