html
  head
    title= ''
  body
    p Hello #{name}!
    p We've received a request to reset your password. 
    p If you didn't make the request, just ignore this email. Otherwise, you can reset your password using this link:
    a(href=link) Click here to reset your password
    p Thank's,
    p The Webness Team.