<div class="col-sm-6 col-md-4 col-lg-3 hidden-xs-down bg-faded sidebar " 
          ng-controller="SidebarCtrl" ng-class="{sidebarVisible : render.global.sidebar.isVisible }">

  <div class="bigTop">

    <div class="container" >
      <div class="row align-items-center" style="height: 45px;">
  
        <div class="col-2">
        <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
        </div>

        <div class="col-8 align-self-center center-alg">
          <b>Menu</b>
        </div>

        <div class="col-2 closeMenuBtn" ng-click="handleSidebarFromSidebar()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>

      </div>
    </div>

  </div>
</div>
