.sidebar {
  position: fixed;
  top: 0;
  top: 40px;
  bottom: 0;
  right: 0;
  z-index: 1029;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  transform: translateX(100%);
  transition: transform 0.25s ease-out;

}
.sidebarVisible{
  transform: translateX(0);
  transition: transform 0.25s ease-out;
}
.bigTop{
  /*margin-top:  88px;*/
  /* margin-top: 35px; */
  transition: margin-top ease 0.35s;
}
.littleTop{
  /*margin-top:  54px;*/
  /*margin-top:  74px;*/
  margin-top: 57px;
  transition: margin-top ease 0.35s;
}



/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .closeMenuBtn{
  text-align: center;
  padding: 8px;"
}
.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*.sidebarVisibility{
  transform: translateX(0px);
}*/


/*.noSidebar{
  right: : -100px;
}
.showSidebar{
  right: : 110px;
}*/
/*.renderSidebarHide{
  right: : -100px;
}
.renderSidebarShow{
  right: : 110px;
}*/


/*custom*/
/*.sidebar{
  top: 0;
  right:  0;
  bottom: 0;
  z-index: 10000;

  position: fixed;

  width: 360px;
  height: auto !important;
  height: 100%;

  padding: 0;
  border-right: 1px solid #E5E5E5;
  background: #fff;
  background: #EDEFF0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;"
}
.sidebar-container{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  height: 100%;"
}
.sidebar-left{
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  position: fixed;
  border-right: 1px solid #E5E5E5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}*/

/*.board-wrapper.is-show-menu .board-menu{*/
