
<div class="header-wrapper">
    <div ng-if="!navBar" class="header" ng-controller="HeaderCtrl">
        <a class="navbar-brand icon-holder"  href="/" >
            <i class="fas fa-home"></i>
        </a>
        
        <a  ng-if="headerRender.user.settingsBtn" 
            class="navbar-brand icon-holder bold" 
            style="margin:0" 
            href="/" >
            Activities
        </a>
        
        <div class="navbar-brand" 
             style="padding:0; position: absolute; padding-top: 0.13em; padding-left: 4px;" >
            <div class="search">
                <input 
                    id="search-bar-input"
                    autocomplete="off" 
                    autocorrect="off" 
                    autocapitalize="off" 
                    spellcheck="false"
                    ng-if="headerRender.user.settingsBtn"
                    class="input-search" 
                    ng-class="(headerRender.searchBar.expanded)? 'searchBarExpanded':''" 
                    ng-click="" 
                    ng-focus="handleSearchBar()"
                    ng-blur="clearSearch();handleSearchBar()"
                    ng-change="search()"
                    ng-model="searchText.input" 
                    type="text" placeholder="" aria-label="" />
            </div>
        </div>
                          
        <li ng-if="headerRender.user.settingsBtn" 
            class="nav-item dropdown float-right" 
            style="margin-right: 5px;">
            <a  class="nav-link dropdown-toggle capitalize" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
                style="padding: 0.25em;">
                <img src="{{userData.profile_pic}}" 
                class="custom-rounded float-left" alt="Sample image" 
                style="width: 30px;background-color:#e7e7e7;">
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="/account"><i class="fa fa-user" aria-hidden="true"></i> Your Account</a>
                
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="" ng-click="logout()">
                
                <i class="fas fa-sign-out-alt"></i>
                    Log out</a>
            </div>
        </li>

        <a ng-if="headerRender.user.settingsBtn" class="navbar-brand icon-holder float-right" href="#">
            <i class="far fa-bell"></i>     
        </a> 

        <a ng-if="headerRender.user.settingsBtn" class="navbar-brand icon-holder float-right" href="#">
            <i class="far fa-question-circle"></i>
        </a> 

        <li ng-if="headerRender.user.settingsBtn"  class="nav-item dropdown float-right" >
            <a  class="nav-link dropdown-toggle capitalize navbar-brand icon-holder float-right" 
                href="" id="navbarDropdownMenuLink" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false" 
                style="padding: 0.25em;
                font-size: 95%;
                background-color: hsla(0,0%,100%,.3);
                border-radius: 4px;
                padding-left: 0.55em;
                padding-right: 0.55em;
                margin: 4px;
                margin-right: 0px;
                color: white !important;
                ">
            <i class="fas fa-plus"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="min-width: 30rem;" aria-labelledby="navbarDropdownMenuLink">

                <a class="dropdown-item big-dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="/ventas">
                    <b>Nuevo Mítin</b>
                    <p style="font-size: 85%;">
                        Crea un nuevo mítin asociado a alguna de tus actividades, agéndalo
                        <br>
                        en un día y horario. Puedes optar por repetirlo semana a semana.</p>
                </a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item big-dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="/productos/agregar">
                    <b>Nueva Actividad</b>
                    <p style="font-size: 85%;">
                        Una actividad lleva asociada uno o varios sitios donde tendrá lugar 
                        <br>y varios asistentes a los que puedes invitar.
                        <br>
                        Puedes configurarla para recibir pagos de los asistenes o hacerla
                        <br>gratuita.

                    </p>
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item big-dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="">
                        <b>Agregar Cliente</b>
                    <p style="font-size: 85%;">
                        Da de alta un nuevo usuario rápidamente usando sólo sus datos básicos.
                        <br> Luego puedes enviarle una invitación a su correo y el podrá 
                        <br> comenzar a usar la plataforma para pagar, reservar, recibir noticias
                        <br> y mucho más.</p>
                </a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item big-dropdown-item" data-toggle="collapse" data-target=".navbar-collapse.show" href="/account">
                    <b>Agregar Local</b>
                     <p style="font-size: 85%;">
                        Da de alta un nuevo espacio de trabajo que puede estar asociado
                        <br>
                         a cualquiera de tus actividades.
                        Puedes gestioanr a las personas <br>
                        que trabajan para tí en cada uno de ellos.</p>
                </a>
                
            </div>
        </li>

    </div>
</div>



<!-- UL https://stackoverflow.com/questions/40032639/displaying-search-results-using-angular -->
<!-- https://stackoverflow.com/questions/32813510/angular-how-to-make-a-search-take-you-to-another-route-and-display-results -->
<!-- https://stackoverflow.com/questions/37605696/show-results-only-on-search-in-angular -->
