@media (min-width: 991px) {
  .navbar-element-little{
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-element-big{
    display: none;
  }
}

.customNavBarFont .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.navbar{
  padding: 0;
}

.navbar-light{
  /*background-color: #FFFFFF!important;*/
  background-color: #026aa7;
  background: rgba(0,0,0,.15);
  /*opacity: .5;*/
  /*box-shadow:rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;*/
}
.navbar-light .navbar-toggler {
    border-color: transparent;
}
.navbar-transparent{
  background-color: transparent;
}
.fixed-top-1{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  /*background-color: yellow;*/
  /*background-color: #026aa7;*/
  /*background-color: rgb(0, 121, 191);*/
  background-color: #026aa7;

}
.fixed-top-2{
  position: fixed;
  /*top: 40px;*/
  top: 36px;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(0, 121, 191);
  /*background-color: #026aa7;*/
    /*background-color: blue;*/
  background-color: #026aa7;
}

.fixed-top-3{
  position: fixed;
  top: 85px;
  padding: 0.4em;
  right: 0;
  left: 0;
  z-index: 1000;
  /*background-color: orange;*/
}

.bigPadding{
  -webkit-transition: padding ease 0.35s;
  padding-left:16px;
  padding-right:16px;

  padding-bottom:24px;
  padding-top:24px;

  padding-bottom: 34px;
  padding-top: 34px;
}
.littlePadding{
  -webkit-transition: padding ease 0.35s;
  padding-left:16px;
  padding-right:16px;
  /*padding-bottom:8px;*/
  /*padding-top:8px;*/

  /*padding-bottom: 18px;*/
  /*padding-top: 18px;*/

  padding-bottom:8px;
  padding-top:8px;
}

.subBigMargin{
  -webkit-transition: margin ease 0.35s;
  /*margin-bottom:36px;*/
  /*margin-top:36px;*/

  margin-bottom: 56px;
  margin-top: 56px;
}
.littleMargin{
  -webkit-transition: margin ease 0.35s;

  /*margin-top: 8px;*/
  /*margin-top: 24px;*/
  /*margin-top: 8px;*/

  margin-top: 3px;

}



.subNavbarBtn , .subNavbarBtn:hover, .subNavbarBtn:active, .subNavbarBtn:link, .subNavbarBtn:visited {
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
  font-size: small;
  padding: 0.2em 1em;
  background-color: rgba(0, 0, 0, 0.235);
  transition: background-color .55s;

}

.subNavbarBtn , .subNavbarBtn:hover{
  background-color: rgba(0, 0, 0, 0.465);
  transition: background-color .55s;
}

.dropdown-toggle::after {
    display:none
}


.navbarCollapseScroll{
  display: flex;
};

.rounded {
  border-radius: 1.25em !important;
}






.icon-holder{
  font-size: 95%;
  background-color: hsla(0,0%,100%,.3);
  border-radius: 4px;
  padding-left: 0.55em;
  padding-right: 0.55em;
  margin: 4px;
  margin-right: 0px;
  color: white !important;
}
.subheader > .icon-holder{
  margin-top:0px;
}
.icon-holder:hover{
  background-color: hsla(0,0%,100%,.2);
}
.input-search{
  padding-left: 0.5em;
  background-color: hsla(0,0%,100%,.3); 
  border: 0; 
  border-radius: 4px; 
  height: 31px; 
  color: white;
  margin:0;
  font-size:14px;
  font-weight: lighter;
}
.input-search:hover{
  background-color: hsla(0,0%,100%,.2);
}
.searchBarExpanded{
  background-color: white;
  color: #000;
  -webkit-transition: width 3s; 
  width: calc(100%+50px);
}
.searchBarExpanded:hover{
  background-color: white;
}
/* .searchBarExpanded{
  background-color: white;
  width: 20%;
  border: 0;
  -webkit-transition: width 3s; 
  transition: width 3s;
  color: black;
  font-size: 93%;
} */

/* .searchBarExpanded:hover{
  background-color: white;
} */
.custom-rounded{
  border-radius: 35px;
}
textarea:focus, input:focus{
    outline: none;
}

.header-btn {
    transition: .1s ease;
    background: hsla(0,0%,100%,.3);
    border-radius: 3px;
    color: #fff;
    display: block;
    float: left;
    font-weight: 700;
    line-height: 32px;
    margin-right: 4px;
    min-width: 32px;
    padding: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icon-lg.light, .icon-lg.light-hover:hover, .icon-sm.light, .icon-sm.light-hover:hover, .light-hover:hover .icon-lg, .light-hover:hover .icon-sm {
    color: #fff;
    text-decoration: none;
}

.header-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
}
.icon-lg, .icon-sm {
    color: #798d99;
}
.icon-lg {
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    width: 32px;
}
.icon-lg, .icon-sm {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}







/* new */
.header-wrapper{
  width:100%;
  position: fixed;
  top:0px;
}
.header{
  height:40px;
  width:100%;
  margin:0px auto;
  z-index: 1030;
  background-color: #026aa7;
}

.subheader-wrapper{
  width:100%;
  position: fixed;
  top:40px;
}
.subheader{
  height:40px;
  width:100%;
  margin:0px auto;
  z-index: 1030;
  background-color: #026aa7;


  padding-left: 0.1em;
  padding-right: 0.3em; */

  /* height:40px;
  background-color: #026aa7;
  width:100%;
  margin:0px auto;
  padding-left: 0.1em;
  z-index: 1030;
  padding-right: 0.3em; */

  /* display: -webkit-flex;
  display: flex; */
}
.only-header-margin-top{
  margin-top: 40px;
}
.header-and-subheader-margin-top{
  margin-top: 80px;
}

#email {
  border:0;
  border-radius: 3px;
}
#email-label {
  position: relative;
}
#email-label:before {
  color: #fff;
  content:"\f002";
  font-family: 'FontAwesome';
  position: absolute;
  top: 2px;
  right: 10px;
}