<div class="forgot-wrapper container " style="padding-top:2em;">




  <form ng-if="forgotPageRender.form" class="form-auth">


    <div class="margin-bottom-1em">
        <h2 class="form-signin-heading heading-title">Restablecer su contraseña de Webness</h2>
        <label>Envíe su dirección de correo electrónico y le reenviaremos un enlace para restablecer su contraseña.</label>    
    </div>


    <div class="margin-bottom-1em">
        <label for="inputEmail" class="sr-only">Email address</label>
        <label for="user">Correo electrónico</label>
        <input ng-model="formModel.email" type="email" id="inputEmail" class="form-control" required autofocus>            
    </div>


    <button class="btn btn-lg btn-success submit-buttom bold" 
            ng-click="sendPasswordUpdateRequest(formModel)" type="submit">Enviar</button>

  </form>

    <div ng-if="forgotPageRender.message"  class="container">
        <div class="margin-bottom-1em">
            <h2 class="form-auth-heading heading-title">{{message.title}}</h2>
            <label>{{message.body}}</label>    
        </div>
    </div>

</div> 