.forgot-wrapper{
/*  
  padding-top: 40px;
  padding-bottom: 40px;*/
  font-size: 20px;
  /*line-height: 48px;*/
  background-color: #f8f9fa;
  font-weight: 300;
  color: #4d4d4d;
  font-family: 'MyWebFont1';
  width: 100%;
  height:100vh;
  /*border-radius: 6px;*/
}