/* // calendar */
.calendar-wrapper {
    bottom: 10px;
    top: 0;
    right: 10px;
    left: 10px;
    position: absolute;
}
.calendar-sub-wrapper {
    position: sticky;
    top: 0px;
    right: 0;
    left: 0;
    /* height: 85px; */
    /* padding: 0.5em; */
    margin: 0;
    background: white;
    /* border: 1px solid #e7e7e7; */
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: auto;
}
.day-cell{
    background: #f4f5f7;
    margin: 0.3em;
    border-radius: 3px;
    padding: 0.em;
    text-align: center;
    min-height: 120px;
    text-align: left;
    padding: 0.3em;
    /* position: relative; */
}
.day-cell:hover{
    transition: background-color 0.2s ease;
    background: hsl(0, 0%, 78%);
}
.calendar-header {
    position: relative;
}
.calendar-header-toolbar {
    min-height: 32px;
    padding: 12px;
    position: relative;
}
.calendar-content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 86px;
    border-radius: 3px;
}
.calendar-month {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.calendar-drag-area {
    position: relative;
}
.calendar-table {
    margin-bottom: 0;
    border-spacing: 5px;
    border-collapse: separate;
}