<div    class="col-12  calendar-wrapper"   
        ng-controller="CalendarCtrl" 
        style="text-align: center; position: inherit; height: 100vh; ">
     <div  style="padding-top: 3em;" class="calendar-sub-wrapper">
        <table class="table  no-margin-bottom"   style="border-radius: 3px;">
             <thead class="borderless" style="border-radius: 3px;">
                <div class="row" style="    padding: 0.75rem;">
                    <div class="col-3 moveMonth underlined" ng-click="calendarBack()">
                            Anterior
                    </div>
                    <div class="col bold">
                        {{ currentWeeksInMonth[3][0].monthText + " " +  currentWeeksInMonth[3][0].year }}
                    </div>
                    <div class="col-3 moveMonth underlined" ng-click="calendarNext()">
                        Siguiente
                    </div>
                </div>
                    <tr scope="col" >
                        <th 
                            style="background: white; width: 14%; text-align: center;"
                            ng-repeat="day in ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado',]">
                            {{day}}
                        </th>
                    </tr>
                </thead>
        </table>
    </div>

    <table id="calendar-body-table" class="table  no-margin-bottom"  style="background: white;     ">
        <tbody class="borderless" >
            <tr ng-repeat="week in getCurrentWeeksInMonth() track by $index" 
                style="max-width: 14%;"
                >

                <td ng-repeat="day in week" 
                    style="padding: 0; height: 55px;"
                    >



                    
                    <div class="day-cell" 
                    ng-click="setSelectedDay(day); openMeetingAddGui();" 
                    ng-style="((day.dayNumber == selectedDay.dayNumber) && (day.monthNumber == selectedDay.monthNumber) && (day.year == selectedDay.year)) ? {'background-color':'hsl(0, 0%, 68%)'}: {} "
                    >

                        <div style="position:">

                            <div style="position:">

                                    <div>
                                            <b>
                                                {{ day.dayNumber }} 
                                            </b>

                                            <div ng-show="getActivityMeetingsByDate(day).length>0" ng-init="dayMeetings=getActivityMeetingsByDate(day)" style="position: ;">
                                                    <div  ng-repeat="meeting in dayMeetings"
                                                            ng-click="$event.stopPropagation()()"
                                                            style="background: white; padding: 0.2em; border-radius: 3px; width: 90%; position: relative;  "
                                                    >
                                                        {{meeting.title}}
                                                    </div>
                                            </div>
                                    </div>

                            </div>


                        </div>

                        
                     </div>


                    <div  ng-show="$parent.$index==getCurrentWeeksInMonth().length-1 " class="air-container"></div>

                </td>

            </tr>
        </tbody>
    </table>
</div>
