<div class="air-container"></div>

<div class="row justify-content-md-center animated zoomIn" ng-controller="AppCtrl">
    <div class="col-12">

            <div class="row justify-content-md-center" style="padding-top: 1.5em;" >
                            <div class="col-7"
                                ng-click="$event.stopPropagation();"
                                style="
                                 background: url({{activity.imgs.main}});
                                background-color: #f5f6f7;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                border-radius: 4px;
                                padding:1em;
                                color: black;
                                min-height: 100vh;
                                "
                                class="">                


                           
                
                                <div class="row">
                                        <div class="col-12">
                                            <h4><b>
                                                {{selectedUser.name}}
                                                {{selectedUser.surname}}
                                                </b>
                                            </h4>
                                        
                                        </div>
                                        <div class="col-12">

                                        </div>
                                </div>
                
                                <div class="row">
                                    <div class="col-9">
                                        
                                            <div ng-if="!selectedUser.account_is_confirmed" style="padding: 0.5em; background: #fff3cd; margin-top: 1em; margin-bottom: 1em; border: 1px solid #e7e7e7; border-radius: 3px;">
                                                    <h6>                                                    <i style="color:orangered;" class="fas fa-circle"></i>
                                                        Pendiente de confirmación</h6>
                                                    <div>Este usuario aún no ha confirmado su cuenta</div>
                                            </div>
                                        
                                        
                                        <div>
                                                @{{selectedUser.username}}
                                        </div>
                                        <div>
                                                {{selectedUser.email}}
                                        </div>
                                        <div ng-if="selectedUser.born_date">
                                            Cumpleaños: {{selectedUser.born_date}}
                                        </div>
                                    
                                    </div>

                                        <div class="col-3">
                                
                                            <div style="font-weight: bold; margin-bottom: 0.6em;">ACCIONES</div>
            
                                            <ul>
                                                <li style="margin-bottom: 0.6em;">
                                                    <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 1</button>
                                                </li>
                                                <li style="margin-bottom: 0.6em;">
                                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 2</button>
                                                </li>
                                                <li style="margin-bottom: 0.6em;">
                                                        <button style="width: 100%; text-align: left;" type="button" class="btn btn-secondary">Accion 3</button>
                                                </li>
                                            </ul>
            
                                        </div>
                                </div>





 
                            </div>                       
            </div>
    </div>
</div>

<div class="air-container"></div>



