<div class="air-container"></div>

<div class="row justify-content-md-center animated zoomIn" ng-controller="DashboardCtrl">
    <div class="col-4 mx-auto">

            <div class="row justify-content-md-center" style="padding-top: 1.5em;" >
                    <div>
                            <div 
                                ng-click="$event.stopPropagation();"
                                style="
                                background: url({{activity.imgs.main}});
                                background-color: {{selectedColor.name}};
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: cover;
                                border-radius: 4px;"
                                class="addActivityCard">                
                                <div class="activityTitle add-activity">
                                    <!-- Add activity title -->
                                    <input 
                                    autocomplete="off" 
                                    autocorrect="off" 
                                    autocapitalize="off" 
                                    spellcheck="false"
                                    class="input-search" 
                                    ng-click="" 
                                    ng-focus=""
                                    ng-blur=""
                                    ng-change=""
                                    ng-model="addActivityTemplate.title" 
                                    style="font-size: 14px; width: 90%; margin-top: 0.23em; color: #000 ;background-color: hsla(0,0%,100%);"
                                    type="text" placeholder="Ejemplo: Taller de Canto" aria-label="" />

                                </div>
                            </div>                       
                    </div>
            
                    <div class="color-picker-wrapper" style="max-width: 7.6em;">
                        <div    ng-repeat="item in palette track by $index"
                            style="
                                width: 2em;
                                height: 2em;
                                border-radius: 3px;
                                position: relative;
                                display: inline-block;
                                margin-right: 0.3em;"
                                ng-style="{background: palette[$index].name}"
                                ng-click="$event.stopPropagation();selectColor($index)"
                        >
                        <i ng-show="palette[$index].name==selectedColor.name" 
                            style="color: white;font-size: 95%; float: left; text-align: center; vertical-align: bottom; margin-top: 8px; margin-left: 8px;" 
                            class="fas fa-check"></i>
                        </div>
                    </div>
    


            </div>

            <div class="row" style="margin-top: 0.3em">
                    <button 
                    class="btn btn-md btn-success submit-buttom bold" 
                    style="padding-top: 0.3em; padding-bottom: 0.3em; float: left; text-align: left;"
                    type="submit"
                    ng-click="$event.stopPropagation();addNewActivity({background_color: selectedColor.name})"
                    >
                        Crear Actividad
                    </button>
            </div>





    </div>
</div>