.search-bar-position{
    margin-left: 5em; 
    margin-top: 43px;
}
.search-bar{
    position: absolute; 
    width: 100%;
    position: absolute;
    overflow: auto;
    max-height: 650px;
    background-color: #f5f6f7;
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px rgba(9,45,66,.25), 0 0 0 1px rgba(9,45,66,.08);
}

.item-result{
    color: #928e8e !important;
    /* font-family: 'MyWebFont1';    */
}
.item-result:hover{
    background-color: #ececec;
}