<div class="row justify-content-md-left animated slideInUp" ng-controller="HeaderCtrl" >
    <div class="col-6">
        <div class="row justify-content-md-left search-bar-position" >
                <div class="search-bar">
                        <div ng-show="searchResults.length>0"  ng-repeat="item in searchResults">
                                <a class="dropdown-item big-dropdown-item item-result" 
                                        data-toggle="collapse" 
                                        data-target=".navbar-collapse.show" 
                                        href="/activities/taller-de-pintura">
                                        <b>{{item}}</b>
                                        <br>
                                        <p style="font-size: 85%;">Lorem ipsum dolo sit amet</p>
                                </a>
                        </div>
                        <div ng-show="searchResults.length==0" >
                                <div    ng-click="$event.stopPropagation();"
                                        class="center-alg" 
                                        style="
                                        padding: 0.8em;
                                        color: #928e8e;
                                        font-family: 'MyWebFont1';">
                                        <br>
                                        <p style="font-size: 85%;">No pudimos encontrar ningún registro que coincida con tu búsqueda. </p>
                                        <br>
                                </div>
                        </div>                  
                </div>
            </div>
    </div>
</div>





    
<!-- bounce	
flash	
pulse	
rubberBand
shake	
headShake	
swing	
tada
wobble	
jello	
bounceIn	
bounceInDown
bounceInLeft	
bounceInRight	
bounceInUp	
bounceOut
bounceOutDown	
bounceOutLeft	
bounceOutRight	
bounceOutUp
fadeIn	
fadeInDown	
fadeInDownBig	
fadeInLeft
fadeInLeftBig	
fadeInRight	fadeInRightBig	
fadeInUp
fadeInUpBig	
fadeOut	
fadeOutDown	
fadeOutDownBig
fadeOutLeft	
fadeOutLeftBig	
fadeOutRight	
fadeOutRightBig
fadeOutUp	
fadeOutUpBig	
flipInX	
flipInY
flipOutX	
flipOutY	
lightSpeedIn	
lightSpeedOut
rotateIn	
rotateInDownLeft	
rotateInDownRight	
rotateInUpLeft
rotateInUpRight	
rotateOut	
rotateOutDownLeft	
rotateOutDownRight
rotateOutUpLeft	
rotateOutUpRight	
hinge	
jackInTheBox
rollIn	
rollOut	zoomIn	
zoomInDown
zoomInLeft	
zoomInRight	
zoomInUp	
zoomOut
zoomOutDown	
zoomOutLeft	
zoomOutRight	
zoomOutUp
slideInDown	
slideInLeft	
slideInRight	
slideInUp
slideOutDown	
slideOutLeft	
slideOutRight	
slideOutUp
heartBeat  -->
